metro:
  realtime: http://transitdata.cityofmadison.com/GTFS-RealTime/TrapezeRealTimeFeed.json
  gtfsStatic: http://transitdata.cityofmadison.com/GTFS/mmt_gtfs.zip
  feedId: 394
openMobilityData:
  feedSource: https://bit.ly/catalogs-csv
  allowedIds: 394,1318
spring:
  codec:
    max-in-memory-size: 1000KB
  cache:
    cache-names: delayLines
    caffeine:
      spec:
        maximumSize: 50000
        expireAfterAccess: 1d
  datasource:
    # The hostname 'db' is the name of the PostgreSQL service in your docker-compose.yml
    url: ${SPRING_DATASOURCE_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          batch_size: 100
        order_updates: true
        order_inserts: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8080
doesAgencyCronRun: false
doesRealtimeCronRun: false
logging:
  level:
    org.hibernate.persister.entity.AbstractEntityPersister: ERROR