region: us-east-1
metro:
  realtime: http://transitdata.cityofmadison.com/GTFS-RealTime/TrapezeRealTimeFeed.json
  gtfsStatic: http://transitdata.cityofmadison.com/GTFS/mmt_gtfs.zip
  feedId: 394
openMobilityData:
  feedSource: https://bit.ly/catalogs-csv
  allowedIds: 394,1318
spring:
  codec:
    max-in-memory-size: 1000KB
  cache:
    cache-names: delayLines
    caffeine:
      spec:
        maximumSize: 50000
        expireAfterAccess: 1d
  datasource:
    # The hostname 'db' is the name of the PostgreSQL service in your docker-compose.yml
    url: jdbc:postgresql://db:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
server:
  port: 8080
doesAgencyCronRun: true
doesRealtimeCronRun: true